*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1
{
    text-align: center;
}

#board
{
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translate(-50%);
    width: 700px;
    height: 600px;
    background: #0c8eda;
    border: 3px solid brown;
    padding: 1.5rem;
}

.row {
    display: table-row;
}

.slot
{
    display: table-cell;
    width: 90px;
    height: 90px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
}

.reset
{
    position: absolute;
    top: 95vh;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid black;
    height: 2rem;
    width: 8rem;
    text-align:center;
    cursor: pointer;
}

#colorTurn {
    font-size: 16px;
    color: #000000
  }

